div(ng-include='"components/navbar/navbar.html"')

//- This container needs to be beautified.
.container
  .row
    .col-lg-12
      h1.page-header Patients:
      table.table-striped
        tr
          th(width='10%') Name
          th(width='3%') Id
          th(width='5%') DOB
          th(width='5%') TOA
          th(width='5%') MRP
          th(width='10%') NURSE
          th(width='15%') STORY
          th(width='15%') ASSESSMENT
          th(width='15%') FOLLOW UP
          th(width='15%') EVALUATION 
          th(width='2%') EDIT/DELETE
        tr(ng-repeat="thing in awesomeThings | loggedinUser")
          td 
            img.img-responsive(src="assets/images/{{thing.avtar}}" alt="Avtar" height="23" width="25")  
            |{{thing.name}}
          td {{thing.identifier}}
          td {{thing.dob | limitTo:10 }} 
          td {{thing.datet | limitTo:10 }}
          td {{thing.mrp}}
          td {{thing.nurse}}
          td {{thing.story}}
          td {{thing.assessment}}
          td {{thing.followup}} 
          td {{thing.evaluation}}
          td 
            a.edit(ng-click='editThing(thing)')
              span.glyphicon.glyphicon-edit.pull-left
            a.trash(ng-click='deleteThing(thing)')
              span.glyphicon.glyphicon-trash.pull-right
                
                      
<script>
| $(".hide-form").click(function(){
|    $("#form").hide();
| });

| $(".show-form").click(function(){
|    $("#form").show();
|});
</script>
h2 TOA FORM
a.hide-form [Hide form |
a.show-form  Show form]
  //- This form needs to be beautified.
<form id="form" class="form" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
<div class="content">
<div class="intro"><p>Use the form below to add patient details</p></div>
<div id="section0" >
</div>
<h2 class="section">Patient</h2>
<div id="section1" >
<div class="field"><label for="name">Name</label><input ng-model='newName' type="text" id="name" name="name" size="20" placeholder="Name" required></div>
<div class="field"><label for="identifier">Identifier</label><input ng-model='newIdentifier' type="text" id="identifier" name="identifier" size="20" placeholder="Identifier" required></div>
<div class="field"><label for="avtar">Avtar</label><select ng-model='newAvtar' id="avtar" name="avtar">
<option value="male-01.png">Male 1</option>
<option value="female-01.png">Female 1</option>
<option value="male-02.png">Male 2</option>
<option value="female-02.png">Female 2</option>
<option value="male-03.png">Male 3</option>
<option value="female-03.png">Female 3</option>
<option value="male-04.png">Male 4</option>
<option value="female-04.png">Female 4</option>
<option value="male-05.png">Male 5</option>
<option value="female-05.png">Female 5</option>
</select></div>
<div class="field"><label for="dob">Date of Birth</label><input ng-model='newDob' type="date" id="dob" name="dob" placeholder="yyyy-mm-dd"></div>
<div class="field"><label for="datet">Date of TOA</label><input ng-model='newDatet' type="date" id="datet" name="datet" value="yyyy-mm-dd" required></div>
<div class="field"><label for="mrp">MRP</label><input ng-model='newMrp' type="text" id="mrp" name="mrp" size="20" placeholder="MRP" required></div>
<div class="field"><label for="nurse">Nurse</label><input ng-model='newNurse' type="text" id="nurse" name="nurse" size="20" placeholder="Nurse"></div>
</div>
<h2 class="section">TOA</h2>
<div id="section2" >
<div class="field"><label for="story">Story</label><textarea ng-model='newStory' id="story" name="story" placeholder="Story..." wrap="hard"></textarea></div>
<div class="field"><label for="assessment">Assessment</label><textarea ng-model='newAssessment' id="assessment" name="assessment" placeholder="Assessment..." wrap="hard"></textarea></div>
<div class="field"><div class="edit-options"><div class="edit"></div><div class="delete"></div></div><label for="followup">Follow Up</label><textarea ng-model='newFollowup' id="followup" name="followup" placeholder="Follow Up..." wrap="hard"></textarea></div>
<div class="field"><label for="evaluation">Evaluation</label><textarea ng-model='newEvaluation' id="evaluation" name="evaluation" placeholder="Evaluation..." wrap="hard"></textarea></div>
<div class="field"><input ng-click='addThing()' class="btn-primary" type="submit" id="buttonsubmit" name="submit"></div>
</div>
</div>
</form>

footer.footer
  .container
    p
      a.nuchange(href='http://nuchange.ca') NuChange ToA Ver 2.0.1
      