div(ng-include='"components/navbar/navbar.html"')

//- This container needs to be beautified.
.container
  .row
    .col-lg-12
      h1.page-header Patients:
      //-ul.nav.nav-tabs.nav-stacked
        
      div.panel.panel-default.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
          div.panel-heading
            div.pull-right 
              h4 {{thing.name}} ({{thing.identifier}})
              h5 DOB: {{thing.dob | limitTo:10 }} 
              h5 TOA: {{thing.datet | limitTo:10 }}
              h5 MRP: {{thing.mrp}}
              h5 NURSE: {{thing.nurse}} {{thing.ip}}
            div.panel-body  
              img.img-circle.pull-left.col-lg-3.img-responsive(src="assets/images/{{thing.avtar}}" alt="Avtar")  
            div.clearfix
            hr          
            b STORY: 
            | {{thing.story}}
            hr
            b ASSESSMENT: 
            | {{thing.assessment}}
            hr
            b FOLLOW UP: 
            | {{thing.followup}}
            hr
            b EVALUATION: 
            | {{thing.evaluation}}
            hr
            a.edit(ng-click='editThing(thing)')
              span.glyphicon.glyphicon-edit.pull-left
            a.trash(ng-click='deleteThing(thing)')
              span.glyphicon.glyphicon-trash.pull-right


                      
<script>
| $(".hide-form").click(function(){
|    $("#form").hide();
| });

| $(".show-form").click(function(){
|    $("#form").show();
|});
</script>
h1 TOA FORM
a.hide-form [Hide form |
a.show-form  Show form]
  //- This form needs to be beautified.
<form id="form" class="form" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8">
<div class="content">
<div class="intro"><p>Use the form below to add patient details</p></div>
<div id="section0" >
</div>
<h2 class="section">Patient</h2>
<div id="section1" >
<div class="field"><label for="name">Name</label><input ng-model='newName' type="text" id="name" name="name" size="20" placeholder="Name" required></div>
<div class="field"><label for="identifier">Identifier</label><input ng-model='newIdentifier' type="text" id="identifier" name="identifier" size="20" placeholder="Identifier" required></div>
<div class="field"><label for="avtar">Avtar</label><select ng-model='newAvtar' id="avtar" name="avtar">
<option value="male-01.png">Male 1</option>
<option value="female-01.png">Female 1</option>
<option value="male-02.png">Male 2</option>
<option value="female-02.png">Female 2</option>
<option value="male-03.png">Male 3</option>
<option value="female-03.png">Female 3</option>
<option value="male-04.png">Male 4</option>
<option value="female-04.png">Female 4</option>
<option value="male-05.png">Male 5</option>
<option value="female-05.png">Female 5</option>
</select></div>
<div class="field"><label for="dob">Date of Birth</label><input ng-model='newDob' type="date" id="dob" name="dob" placeholder="yyyy-mm-dd"></div>
<div class="field"><label for="datet">Date of TOA</label><input ng-model='newDatet' type="date" id="datet" name="datet" value="yyyy-mm-dd" required></div>
<div class="field"><label for="mrp">MRP</label><input ng-model='newMrp' type="text" id="mrp" name="mrp" size="20" placeholder="MRP" required></div>
<div class="field"><label for="nurse">Nurse</label><input ng-model='newNurse' type="text" id="nurse" name="nurse" size="20" placeholder="Nurse"></div>
</div>
<h2 class="section">TOA</h2>
<div id="section2" >
<div class="field"><label for="story">Story</label><textarea ng-model='newStory' id="story" name="story" placeholder="Story..." wrap="hard"></textarea></div>
<div class="field"><label for="assessment">Assessment</label><textarea ng-model='newAssessment' id="assessment" name="assessment" placeholder="Assessment..." wrap="hard"></textarea></div>
<div class="field"><div class="edit-options"><div class="edit"></div><div class="delete"></div></div><label for="followup">Follow Up</label><textarea ng-model='newFollowup' id="followup" name="followup" placeholder="Follow Up..." wrap="hard"></textarea></div>
<div class="field"><label for="evaluation">Evaluation</label><textarea ng-model='newEvaluation' id="evaluation" name="evaluation" placeholder="Evaluation..." wrap="hard"></textarea></div>
<div class="field"><input ng-click='addThing()' class="btn-primary" type="submit" id="buttonsubmit" name="submit"></div>
</div>
</div>
</form>

footer.footer
  .container
    p
      a.nuchange(href='http://nuchange.ca') NuChange ToA Ver 1.0.1
      